<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./essentials/cssCDN.ejs') %>
    <title>Document</title>
    
</head>
<body>
    <%- include('./essentials/navbar.ejs') %>
    <div class="d-flex flex-wrap justify-content-center align-items-center pt-4">
        <% locals.allBlog.forEach(element => { %>
            <div class="card ms-3 me-3 mb-3" style="width: 18rem;">
                <img src="<%= element.coverImage %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= element.title%></h5>
                  <p class="card-text"><%= element.body %></p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
        <% }) %>
    </div>

   
    <%- include('./essentials/scriptsCDN.ejs') %>
</body>
</html>